-r requirements.txt

# pin Python 3.8 dependencies
bracex==2.5.post1
cfgv==3.4.0
click==8.1.8

# test
pytest
pytest-cov

# lint
pre-commit
pyrefly


# docs
mkdocstrings[python]
pymdown-extensions
mkdocs-awesome-pages-plugin

# build & reqs management
-e .
hatchling
toml
invoke
